 @import url('https://fonts.googleapis.com/css2?family=Rubik+Bubbles&display=swap'); 
:root {
font-family: 'Rubik Bubbles', cursive;
}

body{background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    
}

header{
   
    height: 100px;
    border-radius: 25%;
    background-color: #FE77B5;
}

.Header-container {
    justify-content: space-around;
    display: flex;
    align-items: center;
    margin: 10px
    /* background-color: #FFCC70; */
}

.Nav {
    /* background-color: #FFCC70; */
    width: 40%;
    height: 40%;
}

/* .Header {
    display: flex;
    flex-direction: column;
    align-items: center;
   background-color: red; 
} */

h1 {
    font-family: 'Rubik Bubbles', cursive;
    display: flex;
  font-size: 3.25em;  
  /* background-color: white; */
  width:50%;
  height: 70%;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-decoration: underline
 
}

#question {
  font-family: 'Rubik Bubbles', cursive; 
  font-size:large
  
}

h3 {
    font-size: 1.25em;
    /* width: 40vw; */
    text-align: center;
    background-color: aliceblue;
    font-family: 'Rubik Bubbles', cursive;

}

.✨{
    border-radius:8%;
    color: black;
    background-color: #FFCC70;
    font-family: 'Rubik Bubbles', cursive;
 
}




.Nav {
    display:  flex;
    justify-content:space-around;
    /* background-color: firebrick; */
}

main{
    /* background-color: blue; */
    height: 80vh;
    display: flex;
    justify-content:space-around;
    align-items:center
}
aside {
    display:flex;
    flex-direction: column;
   align-items: center;
   border-radius: 2.5%;
}

aside section {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    
    height:40vh;
}





main section{
    /* background-color: green; */
    width: 55%;
    border-radius: 2.5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-around
}

main section h2{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FE77B5;
    width: 80%;
    text-align: center;
    height: 20%;
    
}

#question {
    height: 40%;
    background-color: aliceblue;
}

main section div{
    /* background-color: orange; */
    
    border-radius: 1%;
    width: 80%;
    height: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

main section div button {
    width: 80%;
    height: 20%;
   
    background-color: inherit;
    border: solid 2px #89FDED;
    border-radius:1.5%;
    box-shadow: 0 5px #52C3AC;
    color: black;
    
}



button:active {
  
  
    background-color: #FFCC70;
    transform: translateY(4px) scale(80%)
}

/* #whatIsThis{
    border-radius:8%;
    color: black;
    background-color: #FFCC70;
    font-family: 'Rubik Bubbles', cursive;
    width: 30%;
    box-shadow: 0 5px #5E0409;
    transform: translateY(4px) scale(80%)
} */
/* ///this caused a scoping issue^^^^ */





main > *{
    height: 90%;
    border: 2px solid #89FDED;
    box-shadow: 2px 1px  #52C3AC;
}













/* 
////////////////////////////MEDIA QUERIES ///////////////////////////////////// */

@media screen and (max-width:600px) {
    main {
        flex-direction: column;
        /* justify-content: space-around; */
    }
    aside{
        height: 20%;
        width: 95%
    }
    main section {
        height: 50%;
        width: 90%
    }

}

@media screen and (max-width:600px) {
header {
    flex-direction: column;
}
/* .Nav {
    flex-direction: column;
} */

}